

#Ajedrez{

    width: 720px;
}
caption{
    caption-side: top;
}

#chat-cabecera button{
    margin-top: 10px;
    margin-right: 8px;
    padding: 6px 30px;
}

#historial-container{
    display: none;
    align-items: flex-start;
    margin-top: 30px;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
}
#historial-window{
    padding: 14px 0;
    height: 645px;
    color: #000;
    overflow: auto;
}

#chat-container {
    display: block;
    align-items: flex-start;
    margin-top:  30px;
    border: 1px solid #ddd;
    background-color: rgb(171, 203, 211);
    border-radius: 5px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
}

#chat-window {
    padding: 14px 0;
    height: 594px;
    width: inherit;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 5px;
    color: #000;
    overflow: scroll;
    
}
#chat-window #output{
    
}
#chat-window #output p{
    color: #333;
    padding: 5px 0;
    margin: 0 15px;
    
}
#chat-window #actions p {
    padding: 14px 0;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #000;
}

#send{
    margin-left: 15px;
    float: right;
    margin-right: 10px;
    margin-top: 3px;
    height: 35px;
}
input{
    margin-left: 20px;
    padding: 5px;
    border: 0;
    display: flow;
    width: 70%;
    margin-top: 3px;
    margin-bottom: 5px;
}

button {
    background-color: #80bdff;
    color: #111;
    font-size: 20px;
    border: 0;
    padding: 7px 10px;
    border-radius: 0 0 2px 2px;
}
.principal {
    width: min-content;
}

.coloreadoAjedrez{
    background: rgb(171, 203, 211);
}
.btn {
    border: 1px solid black;
}

